#containerTopBar{
    background-color:  #282524;
    padding-left: 1vw;
    border-bottom: #CC33CC 0.1vh solid;
}

.linkls{
    color: #CC33CC;
    font-size: large;
}

#navbarSupportedContent{
    background-color:  #282524;
}

#titulo{
    font-size: xx-large;
}

#container{
    padding-top: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282524;
    color: #CC66CC;
    font-size: large;
}

.imagen{
    height: 11vw;
    width: 11vw;
}

.divImagen{
    border-right: #CC33CC 0.2vw solid;
}

.user{
    margin-top: 1.5vw;
    display: flex;
    border: #CC33CC 0.2vw solid;
    height: 11.5vw;
    width: 50vw;
}

.caracteristicas{
    padding: 1vw;
}

button{
    border-radius: 12px;
    font-size:large; 
}

.seguido{
    border: solid 0.2vw #CC66CC;
    color: #282524;
    background-color: #CC66CC;
}

.seguido:hover{
    border: solid 0.2vw #CC33CC;
    color: #CC33CC;
    background-color: #282524;
}

.noseguido{
    border: solid 0.2vw #CC33CC;
    color: #CC33CC;
}

.noseguido:hover{
    border: solid 0.2vw #CC66CC;
    color: #282524;
    background-color: #CC66CC;
}

@media only screen and (max-width: 900px) {
    #container{
        height: 110%;
    }
    .user{
        width: 90%;
        height: 17%;
    }
    .divImagen{
        width: 90%;
    }
    .imagen{
        width: 100%;
        height: 100%;
    }
    .descripcionGrupo{
        font-size: small;
    }
    button{
        font-size:small; 
        visibility: hidden;
    }
    p{
        padding-bottom: 0.5%;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}