<div id="containerTopBar">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand"><p class="linkls" id="titulo">SocialNet</p></a>
      <div id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="/inicio"><p class="linkls">Inicio</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/perfil"><p class="linkls">Perfil</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/seguidores"><p class="linkls">Usuarios</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/albumes" ><p class="linkls">Albumes</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/grupos"><p class="linkls" style="color: #CC66CC;"><b>Grupos</b></p></a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href=""><p class="linkls">Cerrar sesión</p></a>
          </li>
        </ul>
      </div>
  </nav>
</div>

<div id="container">
  <div class="user">
    <div class="divImagen">
      <a href="/inicio/grupo"><img src="../../../assets/img/group1.jpg" class="imagen"></a>
    </div>
    <div class="caracteristicas">
      <p><u>Travelling</u></p>
      <p class="descripcionGrupo">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin...</p>
      <button class="btn seguido">Siguiendo</button>
    </div>
  </div>
  <div class="user">
    <div class="divImagen">
      <a href="/inicio/grupo"><img src="../../../assets/img/group2.jpg" class="imagen"></a>
    </div>
    <div class="caracteristicas">
      <p><u>Gaming Needs</u></p>
      <p class="descripcionGrupo">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin...</p>
      <button class="btn seguido">Siguiendo</button>
    </div>
  </div>
  <div class="user">
    <div class="divImagen">
      <a href="/inicio/grupo"><img src="../../../assets/img/group3.jpg" class="imagen"></a>
    </div>
    <div class="caracteristicas">
      <p><u>TopCars</u></p>
      <p class="descripcionGrupo">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin...</p>
      <button class="btn seguido">Siguiendo</button>
    </div>
  </div>
</div>