<div class="container">
    <div class="row">
        <div class="col-md" id="background">

        </div>
        <div class="col-md" id="selector">
            <div>
                
                <div id="opciones">
                    <h2>SocialNet</h2><br>
                    <p>Unete ya</p>
                    <button class="btn">Registrate</button><br>
                    <button class="btn">Registrate con Google</button>
                    <label id="terminos">Al registrarte, aceptas los Términos de servicio y la Política de privacidad, incluida la política de Uso de Cookies. </label>
                    <br>
                    <p>¿Ya tienes una cuenta?</p>
                    <button class="btn">Inicia sesión aqui</button>
                </div>
            </div>
        </div>
    </div>
</div>