<div id="containerTopBar">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand"><p class="linkls" id="titulo">SocialNet</p></a>
      <div class="" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="/inicio"><p class="linkls">Inicio</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/perfil"><p class="linkls">Perfil</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/seguidores"><p class="linkls">Usuarios</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/albumes" ><p class="linkls" style="color: #CC66CC;"><b>Albumes</b></p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/grupos"><p class="linkls">Grupos</p></a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href=""><p class="linkls">Cerrar sesión</p></a>
          </li>
        </ul>
      </div>
  </nav>
</div>
<div id="container">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/img/Islantilla.jpg" alt="Islantilla">
          <div class="card-body">
            <p class="card-text">Album de fotos del viaje a Islantilla</p>
            <p> Fotos: 5</p>
          </div>
          <div><a href="/inicio/albumes/album"><button class="btn">Ver</button></a></div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/img/sierraNevada.jpg" alt="Sierra Nevada">
          <div class="card-body">
            <p class="card-text">Album de fotos del viaje a sierraNevada</p>
            <p> Fotos: 7</p>
          </div>
          <div><a href="/inicio/albumes/album"><button class="btn">Ver</button></a></div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../../assets/img/party.jpg" alt="Fiesta">
          <div class="card-body">
            <p class="card-text">Album de fotos de fiestas</p>
            <p> Fotos: 0</p>
          </div>
          <div><a href="/inicio/albumes/album"><button class="btn">Ver</button></a></div>
        </div>
      </div>
    </div>
  </div>



</div>