<div id="containerTopBar">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand"><p class="linkls" id="titulo">SocialNet</p></a>
      <div id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="/inicio"><p class="linkls">Inicio</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/perfil"><p class="linkls">Perfil</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/seguidores"><p class="linkls">Usuarios</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/albumes" ><p class="linkls">Albumes</p></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/inicio/grupos"><p class="linkls" style="color: #CC66CC;"><b>Grupos</b></p></a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href=""><p class="linkls">Cerrar sesión</p></a>
          </li>
        </ul>
      </div>
  </nav>
</div>
<div id="container">
  <div id="grupo">
    <img src="../../../assets/img/group1.jpg" id="grupoImg">
    <p id="titulo">Travelling</p>
    <div id="seguidores">
      <h2>Miembros</h2>
      <div>
          <abbr title="Ignasi Barea"><img src="../../../assets/img/user1.jpg" (click)="navigateToOtroUser()"></abbr>
          <abbr title="Blanca Caceres"><img src="../../../assets/img/user2.jpg" (click)="navigateToOtroUser()"></abbr>
          <abbr title="Maria Nieves Cabezas"><img src="../../../assets/img/user3.jpg" (click)="navigateToOtroUser()"></abbr>
          <abbr title="Maria Angela Cubero"><img src="../../../assets/img/user4.jpg" (click)="navigateToOtroUser()"></abbr>
          <abbr title="Marco Vicente"><img src="../../../assets/img/user5.jpg" (click)="navigateToOtroUser()"></abbr>
          <abbr title="Celso Chaves"><img src="../../../assets/img/pfp.jpg" (click)="navigateToOtroUser()"></abbr>
          <abbr title="Pilar Hinojosa"><img src="../../../assets/img/user6.jpg" (click)="navigateToOtroUser()"></abbr>
          <abbr title="Vega Palomino"><img src="../../../assets/img/user7.jpg" (click)="navigateToOtroUser()"></abbr>
          <abbr title="Nagore Cabanillas"><img src="../../../assets/img/user8.jpg" (click)="navigateToOtroUser()"></abbr>
      </div><br>

  </div>
  <button class="btn">¡Unete ahora!</button>
  </div>
  <div id="descripcion">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at justo vitae metus vestibulum condimentum. Vestibulum vitae fringilla turpis. Etiam egestas ornare tortor, ut egestas enim commodo sed. Cras iaculis nisl tellus. Nam commodo, mi eu pellentesque volutpat, neque lacus pulvinar dolor, in pretium justo tellus ut odio. Curabitur in urna laoreet, pellentesque nisi eget, ornare odio. Integer quis tellus malesuada, lobortis erat quis, euismod purus.</p>
  </div>
</div>