#container{
    background-color:  #282524;
    padding-left: 1vw;
    border-bottom: #CC33CC 0.1vh solid;
}

.linkls{
    color: #CC33CC;
    font-size: large;
}

#navbarSupportedContent{
    background-color:  #282524;
}

#searchYLogOut{
    display: flex;
    padding-right: 1vw;
}

#titulo{
    font-size: xx-large;
}

#buscar{
    border: #CC33CC 0.1vw solid;
}