<div id="containerTopBar">
  <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand"><p class="linkls" id="titulo">SocialNet</p></a>
      <div class="" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
  
            <li class="nav-item active">
              <a class="nav-link" href="/inicio"><p class="linkls">Inicio</p></a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/inicio/perfil"><p class="linkls">Perfil</p></a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/inicio/seguidores"><p class="linkls">Usuarios</p></a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/inicio/albumes" ><p class="linkls" style="color: #CC66CC;"><b>Albumes</b></p></a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/inicio/grupos"><p class="linkls">Grupos</p></a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" href=""><p class="linkls">Cerrar sesión</p></a>
            </li>
          </ul>
        </div>
    </nav>
</div>
<div id="container">
  <div id="albumName">
    <h2>Sierra Nevada</h2>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="../../../assets/img/sierraNevada1.jpg" alt="Sierra Nevada">
    </div>
    <div class="col-sm">
      <img src="../../../assets/img/sierraNevada2.jpg" alt="Sierra Nevada">
    </div>
    <div class="col-sm">
      <img src="../../../assets/img/sierraNevada3.jpg" alt="Sierra Nevada">
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="../../../assets/img/sierraNevada4.jpg" alt="Sierra Nevada">
    </div>
    <div class="col-sm">
      <img src="../../../assets/img/sierraNevada5.jpg" alt="Sierra Nevada">
    </div>
    <div class="col-sm">
      <img src="../../../assets/img/sierraNevada6.jpg" alt="Sierra Nevada">
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="../../../assets/img/sierraNevada7.jpg" alt="Sierra Nevada">
    </div>
  </div>
</div>