<div id="container">
    <div id="content">
      <div id="form">
  
      <div class="form-outline mb-4">
        <input type="text" id="form2Example1" class="form-control"  [ngModel]="nick"/>
        <label class="form-label" for="form2Example1">Nick*</label>
      </div>
    
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" [ngModel]="password" />
        <label class="form-label" for="form2Example2">Contraseña*</label>
      </div>

      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Repite la contraseña*</label>
      </div>

      <div class="form-outline mb-4">
        <input type="email" id="form2Example2" class="form-control"  [ngModel]="email"/>
        <label class="form-label" for="form2Example2">Email*</label>
      </div>

      <div class="form-outline mb-4">
        <input type="text" id="form2Example2" class="form-control"  [ngModel]="edad"/>
        <label class="form-label" for="form2Example2">Edad*</label>
      </div>

      <div class="form-outline mb-4">
        <input type="text" id="form2Example2" class="form-control" [ngModel]="telefono"/>
        <label class="form-label" for="form2Example2">Teléfono</label>
      </div>
    
      <button type="button" class="btn btn-block mb-4" (click)="register()">Registrarse</button>
    
      <div>
        <p>¿Ya tienes cuenta? <a href="landing/login"><b>Inicia sesión</b></a></p>
        <p>* indica que es un campo obligatorio</p>
      </div>
    </div>
  </div>
</div>