<div class="container">
    <div id="background">
        <img src="../../../assets/img/fondo.jpg">
    </div>
    <div id="selector">
        <div>    
            <div id="opciones">
                <h2 id="logo"><b>SocialNet</b></h2><br>
                <p style="color: #CC66CC;"><b>Unete ya</b></p>
                <button class="btn" (click)="nagivateToRegister()"><b>Registrate</b></button><br>
                <button class="btn"><b>Registrate con Google</b></button>
                <label id="terminos" style="color: #CC66CC;">Al registrarte, aceptas los <abbr title="Términos y Condiciones">TyC</abbr> y la Política de privacidad, incluida la política de Uso de Cookies. </label>
                <br>
                <p style="color: #CC66CC;">¿Ya tienes una cuenta?</p>
                <button class="btn" (click)="navigateToLogin()"><b>Inicia sesión aqui</b></button>
            </div>
        </div>
    </div>
</div>
