<div id="containerTopBar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand"><p class="linkls" id="titulo">SocialNet</p></a>
        <div class="" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
  
            <li class="nav-item active">
              <a class="nav-link" href="/inicio"><p class="linkls">Inicio</p></a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/inicio/perfil"><p class="linkls">Perfil</p></a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/inicio/seguidores"><p class="linkls"  style="color: #CC66CC;"><b>Usuarios</b></p></a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/inicio/albumes"><p class="linkls">Albumes</p></a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" href="/inicio/grupos"><p class="linkls">Grupos</p></a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" href=""><p class="linkls">Cerrar sesión</p></a>
            </li>
          </ul>
        </div>
    </nav>
  </div>
<div id="container">
    <div id="perfil">
        <div>
            <h1>Perfil</h1>
            <img src="../../../assets/img/user1.jpg" style="    width: 7vw;height: 7vw;">
            <p style="padding-top: 3vh;">Nick: usu2</p>
            <p>Nombre: Usuario2    </p>
            <p>Apellidos: Pagina del usuuario</p>
            <p>Edad: 27</p>
            <p>Email: usuario@gmail.com   </p>
            <p>Telefono: 987654321</p>
            <button class="btn">Seguir Usuario</button>
        </div>
    </div>
    <div id="posts">
        <div class="post">
            <div class="contenido">
                <p>Comentario de usuario</p>
            </div>
            <div class="fecha">
                <p>03-06-2022</p>
            </div>
        </div>
        <div class="post">
            <div class="contenido">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam mi quis orci lobortis auctor.</p>
            </div>
            <div class="fecha">
                <p>01-06-2022</p>
            </div>
        </div>
        <div class="post">
            <div class="contenido">
                <p>Los comentarios tienen un número determinado de carácteres</p>
            </div>
            <div class="fecha">
                <p>1-05-2022</p>
            </div>
        </div>
        <div class="post">
            <div class="contenido">
                <p>LoremIpsum</p>
            </div>
            <div class="fecha">
                <p>23-04-2022</p>
            </div>
        </div>
    </div>
    <div id="externo">
        <div id="seguidores">
            <h2>Seguidores</h2>
            <div>
                <abbr title="Ignasi Barea"><img src="../../../assets/img/user1.jpg"></abbr>
                <abbr title="Blanca Caceres"><img src="../../../assets/img/user2.jpg"></abbr>
                <abbr title="Maria Nieves Cabezas"><img src="../../../assets/img/user3.jpg"></abbr>
                <abbr title="Maria Angela Cubero"><img src="../../../assets/img/user4.jpg"></abbr>
                <abbr title="Marco Vicente"><img src="../../../assets/img/user5.jpg"></abbr>
                <abbr title="Celso Chaves"><img src="../../../assets/img/pfp.jpg"></abbr>
                <abbr title="Pilar Hinojosa"><img src="../../../assets/img/user6.jpg"></abbr>
                <abbr title="Vega Palomino"><img src="../../../assets/img/user7.jpg"></abbr>
                <abbr title="Nagore Cabanillas"><img src="../../../assets/img/user8.jpg"></abbr>
            </div><br>
            <a class="mas">Ver más...</a>

        </div>
        <div id="grupos">
            <h2>Grupos</h2>
            <div>
                <abbr title="Travelling"><img src="../../../assets/img/group1.jpg"></abbr>
                <abbr title="Gaming Needs"><img src="../../../assets/img/group2.jpg"></abbr>
                <abbr title="TopCars"><img src="../../../assets/img/group3.jpg"></abbr>
            </div><br>
            <a class="mas">Ver más...</a>
        </div>
        <div id="albumes">
            <h2>Albumes</h2>
            <div>
                <abbr title="Viaje a Sierra Nevada"><img src="../../../assets/img/sierraNevada.jpg"></abbr>
                <abbr title="Islantilla"><img src="../../../assets/img/Islantilla.jpg"></abbr>
                <abbr title="Fiesta"><img src="../../../assets/img/party.jpg"></abbr>
            </div><br>
            <a class="mas">Ver más...</a>
        </div>
    </div>
</div>
