#container{
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282524;
    color: #CC66CC;
    padding-bottom: 1vw;
    font-size: large;
}

.imagen{
    height: 9vw;
    width: 9vw;
}

.divImagen{
    border-right: #CC33CC 0.2vw solid;
}

.user{
    margin-top: 1vw;
    display: flex;
    border: #CC33CC 0.2vw solid;
    height: 9.45vw;
    width: 40vw;
}

.caracteristicas{
    padding: 1vw;
}

button{
    border-radius: 12px;
    font-size:large; 
}

.seguido{
    border: solid 0.2vw #CC66CC;
    color: #282524;
    background-color: #CC66CC;
}

.seguido:hover{
    border: solid 0.2vw #CC33CC;
    color: #CC33CC;
    background-color: #282524;
}

.noseguido{
    border: solid 0.2vw #CC33CC;
    color: #CC33CC;
}

.noseguido:hover{
    border: solid 0.2vw #CC66CC;
    color: #282524;
    background-color: #CC66CC;
}